oldTingModel/
.ipynb_checkpoints/
__pycache__/
minimalexample.py
dedalus3_environment_noversions.yml
.DS_Store
data/oldoutput
data/output/*
data/input/*
!data/input/ncep_jan_basic_state.nc
!data/input/ncep_jan_forcings.nc
!data/input/ncep_jan_all_mean.nc
!data/input/ideal_*_basic_state.nc
old/
examples/initial_tests
examples/ideal_gill_realTprofile/
examples/ideal_topo/
examples/held2002/orog_test.ipynb
